<md-dialog>
    <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Опросник Реана</h2>
          </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p>
                    Этот тест позволяет выявить направление мотивации - на успех или неудачу.
                </p>
                <p>
                    Отвечая на нижеприведенные вопросы, необходимо выбрать ответ «да» или «нет». Если Вы затрудняетесь с ответом, то вспомните, что «да» объединяет как явное «да», так и «скорее да, чем нет». То же относится и к ответу «нет»: он объединяет явное «нет» и «скорее нет, чем да».
                </p>
                <p>
                    Отвечать на вопросы следует быстро, не задумываясь надолго. Ответ, который первый приходит в голову, как: правило, является и наиболее точным.
                </p>

                <section layout="column" layout-align="center">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Имя</label>
                        <input ng-model="firstName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Фамилия</label>
                        <input ng-model="lastName">
                    </md-input-container>
                </section>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-accent md-raised" ng-click="dCtrl.goTest()">Начать тестирование</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
